.count-control-container {
    width: 100%;
    margin-top: 37px;
    padding: 0 18px;
    height: 26px;
    text-align: right;
    font-size: 150%;
}

.right-control-box {
    float: right;
}

.preview-btn-main {
    position: absolute;
    top: 36px;
    left: 10px;
    font-size: 150%;
    text-shadow: black 0 0 0.5px;
    display: none;
}
.preview-btn-main:hover{
    color: #0000F0;
}

.preview-btn-main:hover::after{
    position: absolute;
    z-index: 100;
    width: 110px;
    left: 30px;
    top: 5px;
font-size: 60%;
    border: #ffcc00 1px solid;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: khaki;

    padding: 0 10px 10px 10px;
    content: attr(data-title);
    text-align: center;
    color: black;
}



.page-number {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-right: 10px;
}

.page-number span {
    font-size: 130%;
}

.count-control-container select {
    margin: 3px 5px 0 5px;
    height: 20px;
    width: 100px;
}

.elements-count {
    display: flex;
    margin: 0 40px;
}

.full-element-name {
    margin-left: 5px;
}