<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation email</title>
    <style>
    </style>
</head>
<body style="background-color: #999999;text-align: center;">
<center>
    <div class="container" style="height: 600px;width: 400px;text-align: left;padding: 30px;background-color: white;">
        <h1>Hello {{ name }}!</h1>
        <div>at {{ date }} you pressed the button</div>
        <div>you ordered a book "{{ bookName }}"</div>
    </div>
</center>
</body>
</html>
