<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation email</title>
    <style>
        body {

        }

        .container {

        }
        .email-img{

        }
    </style>
</head>
<body style="background-color: #999999;text-align: center;">
<div class="container" style="height: 50%;width: 400px;text-align: left;padding: 30px;background-color: white;margin-left: 25%">
    <h1>Hello {{ name }}!</h1>
    <div>at {{ date }} you pressed the button</div>
    <div><img style="width: 300px;height: 400px;" class="email-img" src="public/images/books/images.png"></div>
    <div>you ordered a book "{{ bookName }}"</div>
</div>
</body>
</html>
