{% extends 'base.html.twig' %}

{# AUTHORS #}

{% block title %}Authors{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/wait_modal.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/authors.css">
    <link rel="stylesheet" href="/css/books.css">
    <link rel="stylesheet" href="/css/elements_count_control.css">
{% endblock %}

{% block body %}
    {% include '/components/elements_count_control.html.twig' %}
    {% include '/components/wait_modal.html.twig' %}
    <div class="common-container">
        {% include  innerElement %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/common.js"></script>
{% endblock %}

