<div class="count-control-container">
    <span>amount of elements {{ elementCount }}</span>
    <span>elements count</span>
    <select id="elements-count-on-page">
        <option>1</option>
        <option>3</option>
        <option>5</option>
        <option>10</option>
        <option>100</option>
    </select>
    <span>page number</span>
    <select id="page-number"></select>
</div>